/* Background Image */
body {
    background-image:url(https://i.ibb.co/q1rYLVm/pexels-photo-2033987.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
       
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;


}

.row2{
    margin-bottom: 50px;

}

.ul {
    border-bottom: solid;
    border-color: gray;
    padding-bottom: 64px;
}
.ml {
    margin-left: 20px;
}
/* Edits size of text per class assigned */
.lgtx {
    font-size: large;
}
.lgtx-2{
    font-size: 25px;
    font-weight: bold;
    font-size-adjust: 1;
}
.padding {
    margin-top: 100px;

}
/* Adjusts size of form boxes */
.contact {
    margin-bottom: 200px;
    width: 300px;
    

}
.flex-container {
    display: flex;
    flex-wrap: nowrap;

}    
/* Adjusts button position */
.button {
    margin-left: 100px;


}
/* Message box size */
.size {
    margin-top: 100px;
}

@media only screen and (max-width:450px){
    /* For phones */
    .container, .navbar, .white-box, .ul, .container-fluid,    {
        font-weight: bold;
        border: 0px;
        margin-bottom: -38px;
        
    }
@media only screen and (max-width:450px){
        .smimg                    {
            width: 170px;
            height: 300px;

}